body {
  background-image: linear-gradient(to right, red , yellow);
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

div {
  margin: 0 auto;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center
}