body {
  background-image: linear-gradient(to right, red , yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

div {
  margin: 0 auto;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center
}